$primary:#2196F3;
$secondary:#babab6;
$success:#4CAF50;
$error:#F44336;
$warning:#FFEB3B;
$info:#009688;
$orange:#FF5722;
$dark:#000000;
$light:#FAFAFA;
$white:#FFFFFF;
$primary-outline:#2196F315;
$secondary-outline:#babab615;
$success-outline:#4CAF5015;
$error-outline:#F4433615;
$warning-outline:#FFEB3B15;
$info-outline:#00968815;
$orange-outline:#FF572215;