.alert {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  padding: 10px 10px;
  font-size: 15px;
  i {
      color: $white;
      font-size: 20px;
  }
}
.alert__content__pre {
  padding-right: 10px;
}
.alert__content {
  flex: 1;
  display: flex;
  align-items: center;
}
.alert__close {
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.alert--primary {
  background: $primary;
  color: $white;
}
.alert--success {
  background: $success;
  color: $white;
}
.alert--info {
  background: $info;
}
.alert--warning {
  background: $warning;
  color: $dark;
}
.alert--secondary {
  background: $secondary;
  color: $white;
}
.alert--error {
  background: $error;
  color: $white;
}
.alert--outline--primary {
  background: #fff;
  border: 1px solid $primary;
  color: $primary;
  background: $primary-outline;
  i {
    color: $primary;
  }
}
.alert--outline--success {
  border: 1px solid $success;
  background: $success-outline;
  color: $success;
  i {
    color: $success;
  }
}
.alert--outline--secondary {
  background: $secondary-outline;
  border: 1px solid $secondary;
  color: $secondary;
  i {
    color: $secondary;
  }
}
.alert--outline--info {
  color: $info;
  border: 1px solid $info;
  background: $info-outline;
  i {
    color: $info;
  }
}
.alert--outline--warning {
  border: 1px solid $warning;
  background: $warning-outline;
  color: $warning;
  i {
    color: $warning;
  }
}

.alert--outline--error {
  border: 1px solid $error;
  color: $error;
  background: $error-outline;
  i {
    color: $error;
  }
}
