.btn {
    color: $white;
    font-weight: $normal;
    font-size: $font-size-normal;
    border: none;
    border-radius: .1em;
    outline: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transition: 500ms all;
    position: relative;
}
.btn__loading {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.btn--block {
    display: block;
    width: 100%;
}
.btn__content {
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        margin: 0px 5px;
    }
}
.btn--disable{
    cursor: not-allowed;
}
.btn--normal {
    padding: .5rem 1rem;
}
.btn--big {
    padding: .75rem 1.25rem;
}
.btn--extra {
    padding: 1rem 1.5rem;
}
.btn--small {
    padding: .25rem .5rem;
}
.btn--primary {
    background: $primary;
    &:hover,
    &:focus {
        background: darken($primary, 15%);
    }
}
.btn--success {
    background: $success;
    &:hover,
    &:focus {
        background: darken($success, 15%);
    }
}
.btn--info {
    background: $info;
    &:hover,
    &:focus {
        background: darken($info, 15%);
    }
}
.btn--warning {
    color: $dark;
    background: $warning;
    &:hover,
    &:focus {
        background: darken($warning, 15%);
    }
}
.btn--secondary {
    background: $secondary;
    &:hover,
    &:focus {
        background: darken($secondary, 15%);
    }
}
.btn--error {
    background: $error;
    &:hover,
    &:focus {
        background: darken($error, 15%);
    }
}

.btn--round {
    border-radius: 5em;
}

.btn--outline--primary {
    background: #fff;
    border: 1px solid $primary;
    color: $primary;
    &:hover,
    &:focus {
        background: $primary-outline;
    }
}
.btn--outline--success {
    background: #fff;
    border: 1px solid $success;
    color: $success;
    &:hover,
    &:focus {
        background: $success-outline;
    }
}
.btn--outline--secondary {
    background: #fff;
    border: 1px solid $secondary;
    color: $dark;
    &:hover,
    &:focus {
        background: $secondary-outline;
    }
}
.btn--outline--info {
    background: #fff;
    color: $info;
    border: 1px solid $info;
    &:hover,
    &:focus {
        background: $info-outline;
    }
}
.btn--outline--warning {
    background: #fff;
    border: 1px solid $warning;
    color: $warning;
    &:hover,
    &:focus {
        background: $warning-outline;
    }
}

.btn--outline--error {
    background: #fff;
    border: 1px solid $error;
    color: $error;
    &:hover,
    &:focus {
        background: $error-outline;
    }
}